body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 11px;
}

#box {
    background-color: #1d242e;
    width: 280px;
    height: 330px;
    border-radius: 20px;
    padding: 20px;
}

.circle {
    background-color: #262e38;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: hsl(217, 12%, 63%);
}

h1, h2 {
    color: white;
    font-size: 23px;
    margin: 20px 0 15px;
}

#feedback-question {
    color: hsl(216, 12%, 54%);
    line-height: 17px;
    margin: 0 0 15px;
}

#rating-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

#submit-button {
    width: 100%;
    height: 38px;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
}

#submit-button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

#rating-num:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

#rating-num:focus {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

#image {
    margin: auto;
    width:fit-content
}

#rating-selection {
    background-color: #262e38;
    width: 140px;
    height: 20px;
    margin: 20px auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: hsl(25, 97%, 53%);
}

#feedback-thankyou {
    color: hsl(216, 12%, 54%);
    line-height: 17px;
    text-align: center;
    margin: 40px 0;
}

@media screen and (min-width: 426px){
 #box {
    width: 325px;
 }
}
