body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: #1d242e;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
}

#star {
    background-color: #262e38;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
